.imgview{
	width: 100%;
}
.caption{
	font-size: 15px;
	padding: 10px;
}
.heading{
	padding: 15px 0px
}
.row{
	margin:0 6%;
}
.bg-#fecc4f{
	background-color: #fecc4f;
}
.time-info{
	position: absolute;
	bottom: 10%;
	left: 0;
	background-color: rgba(43,41,44,.8);
	padding: 20px;
	width: 300px;
	font-size: 18px;
	font-weight: bold;
}
.deliver-policy p{
	display: none;
}
.deliver-policy:hover p{
	display: inline-block;
}
a:hover{
	text-decoration:none; 
	color: grey;
}
a{
	color: black;
	text-decoration: none;
}

.h-700{
	max-height: 700px;
}
.detail{
	padding: 15px 5px;
	float: right;
	margin-left: 5px;
}
.price{
	font-size: 30px;
	text-decoration: bold; 
}
.price-plus{
	font-size: 30px;
	text-decoration: bold;
	margin: 10px 5px;	
}
.size ,.amount,.add-topping label{
	font-size: 18px;
	font-weight: bold;
}
.radio-size{
	float: right;
}
.radio-size label {
    display: inline-block;
    background-color: #fff;
    font-size: 16px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 25px!important;
    text-align: center!important;
    border: solid 2px #2B292C;
}
.radio-size input[type=radio]{
	display: none;
}
.radio-size input[type=radio]:focus{
	color: white;
	background-color: black;
}
.btn-amount{
	height: 30px;
	width: 30px;
	background-color: black;
	color: white;
}
.input-group{
	float: right;
	width: 100px;
}
.input-group input[type=text]{
	width: 30px;
	height: 30px;
	font-size: 20px;
}
.add-topping .dropdown{
	float: right;
}
.dropdown-child{
	border: 1px solid grey;
	background-color: white;
	width: 200px;
}
.btn-chon{
	margin-top: 25px;
}
.bg-new{
	background-image: url("../images/bg-new.jpg") ;
	position: relative;
	background-repeat: no-repeat;
	height: 67vh;
	width: 100vw;
	background-size: cover;
}
.news{
	/*position: absolute;
	top: 150px;*/
}
.news h1{
	color: #FFC30D;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	font-size: 150px;
}
.bg-contact{
	background-image: url("../images/bg-contact1.jpg");
	background-size: cover;
	color: white;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
}
form#fContact{
	font-size: 18px;
}
form#fContact div input{
	border: none;
	border-bottom: 1px solid;
	width: 100%;
	color: white;
	outline: none;
	background: transparent;
	height: 50px;
}
form#fContact div input:focus,form#fContact div textarea:focus{ 
	color: #ffc30d;
}
form#fContact div textarea{
	border: none;
	border-bottom: 1px solid;
	width: 100%;
	color: white;
	outline: none;
	background: transparent;
}